@model GSB_GCR.Models.Medicament

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Medicament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedDepotlegal" />
            <div class="form-group">
                <label asp-for="MedNomcommercial" class="control-label"></label>
                <input asp-for="MedNomcommercial" class="form-control" />
                <span asp-validation-for="MedNomcommercial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamCode" class="control-label"></label>
                <select asp-for="FamCode" class="form-control" asp-items="ViewBag.FamCode"></select>
                <span asp-validation-for="FamCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedComposition" class="control-label"></label>
                <input asp-for="MedComposition" class="form-control" />
                <span asp-validation-for="MedComposition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedEffets" class="control-label"></label>
                <input asp-for="MedEffets" class="form-control" />
                <span asp-validation-for="MedEffets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedContreindic" class="control-label"></label>
                <input asp-for="MedContreindic" class="form-control" />
                <span asp-validation-for="MedContreindic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedPrixechantillon" class="control-label"></label>
                <input asp-for="MedPrixechantillon" class="form-control" />
                <span asp-validation-for="MedPrixechantillon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
