@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Application web de gestion de comptes rendu des visites</h1>
	<p><img src="~/lib/logo.jpg" /></p>
</div>
