@{
    ViewData["Title"] = "Version";
}
<h1>@ViewData["Title"]</h1>

<p>Version de l'application : 1.0.1</p>
<p>Développeur de l'application : DREVET Hugo</p>
<p>Découvrir d'autre projet : <a href="https://github.com/hylusium" target="_blank" class="btn btn-outline-dark"><img src="~/lib/gitlogo2.png" style="height: 20px; width:20px;" />GitHub</a></p>
